<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div style="display: flex; align-items: center; justify-content: center;"> -->
  <ion-card>
    <ion-card-header>
       <div style="display: flex; align-items: center; justify-content: center;">
          <img src="../assets/ayon.jpg" height="150" width="150" style="border-radius: 50%;">      
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-center">
        <ion-card-title color="dark">Arif Faysal</ion-card-title>
        <ion-text>Programmer</ion-text><br>
        <ion-text>Self Explorer</ion-text><br>
      </div>
    </ion-card-content>
    <div class="ion-text-center">
    <ion-footer>
      <ion-toolbar>
        <ion-text color="dark">Special Thanks: </ion-text>
        <ion-text color="primary">Tanvir Jewel</ion-text>
      </ion-toolbar>
    </ion-footer>
    </div>
  </ion-card>
  
  

  
</ion-content>
